#cookies {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 10px;
  border: 1px solid $border-color;
  background-color: $light;
  width: calc(100% - 20px);
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  @include media-breakpoint-up(md){
    left: 20px;
    width: 500px;
  }
  padding: 25px 40px;

  a {
    font-weight: $font-weight-base;
    color: $body-color;
  }
}
